In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use suppressPackageStartupMessages() to eliminate package startup messages

In [2]:
data <- read_csv("heart_failure_clinical_records_dataset.csv")
data

Rows: 299 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (13): age, anaemia, creatinine_phosphokinase, diabetes, ejection_fractio...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age anaemia creatinine_phosphokinase diabetes ejection_fraction
1   75  0        582                     0        20
2   55  0       7861                     0        38
3   65  0        146                     0        20
⋮   ⋮   ⋮       ⋮                        ⋮        ⋮
297 45  0       2060                     1        60
298 45  0       2413                     0        38
299 50  0        196                     0        45
    high_blood_pressure platelets serum_creatinine serum_sodium sex smoking
1   1                   265000    1.9              130          1   0
2   0                   263358    1.1              136          1   0
3   0                   162000    1.3              129          1   1
⋮   ⋮                   ⋮         ⋮                ⋮            ⋮   ⋮
297 0                   742000    0.8              138          0   0
298 0                   140000    1.4              140          1   1
299 0                   395000    1.6              136          1   1
    time DEATH_EVENT
1   4    1
2   6    1
3   7    1
⋮   ⋮    ⋮
297 278  0
298 280  0
299 285  0

In [3]:
data_wrangled <- data |> 
            select(creatinine_phosphokinase, platelets, serum_creatinine, serum_sodium, DEATH_EVENT) |>
            mutate(DEATH_EVENT = as_factor(DEATH_EVENT)) |>
            mutate(DEATH_EVENT = fct_recode(DEATH_EVENT, "Deceased" = "1", "Survived" = "0"))
        
data_wrangled

    creatinine_phosphokinase platelets serum_creatinine serum_sodium
1    582                     265000    1.9              130
2   7861                     263358    1.1              136
3    146                     162000    1.3              129
⋮   ⋮                        ⋮         ⋮                ⋮
297 2060                     742000    0.8              138
298 2413                     140000    1.4              140
299  196                     395000    1.6              136
    DEATH_EVENT
1   Deceased
2   Deceased
3   Deceased
⋮   ⋮
297 Survived
298 Survived
299 Survived